
{{> header }}

<div class="table-wrapper">

	<table class="table table-hovered">
		<thead class="thead-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">DOB</th>
			<th scope="col">DOD</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
		{{#each author}}
		<tr>
			<th scope="row">{{authorId}}</th>
			<td>{{firstName}}</td>
			<td>{{lastName}}</td>
			<td>{{dob}}</td>
			<td>{{dod}}</td>
			<td>
				<a href="/edit/{{authorId}}" rel="noopener" class="btn btn-sm btn-success">Edit</a>
				<a href="/delete/{{authorId}}" class="btn btn-sm btn-danger">Delete</a>
			</td>
		</tr>
		{{/each}}
		</tbody>
	</table>

<!--	<p class="text-center">No author found. Go <a href="/add" >here</a> to add authors.</p>-->

</div>

</body>
</html>